[Unit]
Description=Betting Bot Service
After=network.target

[Service]
User=root
EnvironmentFile=/etc/conf.d/betting-bot
WorkingDirectory=/root/bot_files/
ExecStart=/root/bot_files/main  --api-key=${API_KEY} --username=${USERNAME} --password=${PASSWORD} --total-bets=${TOTAL_BETS} --bet-value=${BET_VALUE} --min-bet-value=${MIN_BET_VALUE}
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
